*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.fContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  height: 22vh;
  background-color: black;
}

.wrapperheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 1);
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}

.header > li > a > img {
  width: 250px;
  height: 130px;
  border-radius: 20px;
  opacity: 0.5;
  border: 5px solid black;
}

.header > li > a > img:hover {
  width: 350px;
  height: 150px;
  border-radius: 35px;
  opacity: 1;
  transition: height 0.2s ease-in-out;
}
